body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.forms {
    display: grid;
    grid-template-areas: 
    "project-form task-form";
    grid-template-columns: 1fr 3fr;
}

.project-form {
    background-color: aqua;
}

.task-form {
    background-color: lawngreen;
}

.to-do {
    display: grid;
    grid-template-areas: 
    "projects tasks";
    grid-template-columns: 1fr 3fr;
}

.project-section {
    background-color: lightblue;
}

.task-section {
    background-color: lightgreen;
}